<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="../static/css/css/resume.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/css/resume.min.css" rel="stylesheet">
    <title>Teachent</title>

    <STYLE>
        @font-face {
            font-family: "MyFont";
            src: url(../static/fonts/IRANSansWeb_Bold.ttf);
        }

        .bg-primary {
            background-color: #3B5998 !important;
        }

        @media (min-width: 992px) {
            #sideNav {
                left: auto !important;
                right: 0;
            }

            body {
                padding-right: 17rem !important;
                padding-left: 0 !important;
            }

            .text-primary {
                color: #3B5998 !important;
            }

            .text-primary1 {
                color: #4099FF !important;
            }
        }

        .myInfo {
            font-family: MyFont;
        }

        .style_text {
            margin-left: 45%
        }

        #page-top {
            background-image: url("../static/img/Screen Shot 1397-03-05 at 12.27.02.jpg");
        }
    </STYLE>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!---------- navbar ---------->
<nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-primary  border-right" id="sideNav">
    <h2 class="text-primary1">Teachent</h2>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-none d-lg-block">
          <img class="../static/img/img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ user.picLink }}" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <!---------- navbar texts ------------>
                <h5 class="nav-link js-scroll-trigger text-primary1 myInfo "> :تعداد دوره </h5>
            </li>
            <li class="nav-item">
                <h6 class="nav-link js-scroll-trigger text-primary1" href="#experience">123</h6>
            </li>
            <li class="nav-item">
                <h5 class="nav-link js-scroll-trigger text-primary1 myInfo" href="#education">: رتبه </h5>
            </li>
            <li class="nav-item">
                <h6 class="nav-link js-scroll-trigger text-primary1" href="#skills">{{ user.rank }}</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger myInfo" href="#interests">برنامه هفتگی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger myInfo" href="{{ url_for("attend") }}">درخواست استاد</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link js-scroll-trigger myInfo" href="{{ url_for('search') }}">صفحه اصلی</a>
            </li>
        </ul>
    </div>
</nav>

<!-------------- teacher info (first part) ------------>
<div class="container-fluid p-0 container">
    <div class="row">
        <section class="resume-section col-md-11  " style="text-align: right" id="about">
            <div class="my-auto">
                <h1 class=" style_text myInfo">{{ user.name }}
                    <span class="text-primary">{{ user.surname }}</span>
                </h1>
                <hr>
                <h3 class="mb-3 myInfo" style="margin-left: 78% ; margin-top: 5%">سن :
                    <span class="text-primary myInfo">{{ user.age }}</span>
                    <br>

                </h3>
                <h3 class="mb-1 myInfo" style="margin-left: 70% ; margin-top: 1%">رتبه کنکور :
                    <span class="text-primary myInfo">{{ user.konkoorRank }}</span>
                </h3>
                <h3 class="mb-1 myInfo" style="margin-left: 62% ; margin-top: 1%">مدرک تحصیلی :
                    <span class="text-primary myInfo">{{ user.madrak }}</span>
                </h3>
                <h3 class="mb-1 myInfo" style="margin-left: 49.5% ; margin-top: 1%">رشته تحصیلی :
                    <span class="text-primary myInfo">{{ user.reshte}}</span>
                </h3>
                <h3 class="mb-1 myInfo" style="margin-left: 62% ; margin-top: 1%">دانشگاه :
                    <span class="text-primary myInfo">{{ user.university }} </span>
                </h3>
                <hr>
                <!----------- (second part) ------------->
                <h3 class="mb-1 myInfo" style="margin-left: 51% ; margin-top: 1%">مدرس دروس :
                    <span class="text-primary myInfo">{{ user.courses }} </span>
                </h3>
                <hr>
                <!------------ contact teacher part ------------>
                <h3 class="mb-1 myInfo" style="margin-left: 68% ; margin-top: 1%"> : ارتباط با استاد
                </h3>
                <h4 class="mb-1 myInfo" style="margin-left: 60% ; margin-top: 2%"> شماره تماس :
                    <span class="text-primary myInfo">{{ user.number }} </span>
                </h4>
                <h4 class="mb-1 myInfo" style="margin-left: 56.5% ; margin-top: 1%">
                    <span class="text-primary myInfo"> {{ user.email }}</span>
                </h4>


            </div>
        </section>
    </div>
</div>
</body>

</html>
